.animated-new {
  opacity: 0;
}
.animated-draw {
  animation: 4s normal animatedDraw;
}
@keyframes animatedDraw {
  from {
    opacity: 0;
  }

  50% {
    transform: scale(1.2);
  }

  to {
    opacity: 1;
  }
}
