.MuiIconButton-root {
  padding: 2px !important;
}

.MuiDialogContent-root:first-child {
  padding-top: 10px !important;
}

.MuiDialogContent-root {
  padding: 8px 10px !important;
}

.css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
  padding: 6px 14px !important;
}

.css-1bjo8t9-MuiButtonBase-root-MuiToggleButton-root {
  font-size: 14px !important;
  line-height: 15px !important;
}
